// Cores Principais
$cor-cinza-claro: #D3D3D3;
$cor-cinza-azure: #F0FFFF;
$cor-azul-noturno: #191970;
$cor-azul-claro: #3498DB;
$cor-azul-celeste-profundo: #00BFFF;
$cor-ciano-escuro: #008B8B;
$cor-error-message: #B22222;