@import '../../../assets/scss/colors.scss';

header {
  background-color: $cor-azul-noturno;
  width: 100vw;
  height: 60px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  img {
    padding-left: 24px;
    height: 30px;
    width: 30px;
  }

  h2 {
    font-family: Salsa;
    font-size: 32px;
    color: $cor-azul-celeste-profundo;
    justify-self: center;
  }
}

@media screen and (max-width: 550px) {
  header {
    h2 {
      font-size: 24px;
    }
  }
}